/* src/.vuepress/styles/base.scss */

/* 背景图片 */
body::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.2;
  z-index: -1;
  content: '';
  position: fixed;
  /* 使用自定义的背景图片 */
  background: url('https://dl3.img.timecdn.cn/2024/10/27/1_3e353febb47baebe3bfe18f4a61975a7.webp') center / cover;
}

/* 表格样式 */
table {
  text-align: center !important;
}

table,
table tr:nth-child(2n) {
  background: transparent !important;
}

table td {
  word-break: keep-all !important;
  white-space: nowrap !important;
}

table th {
  word-break: keep-all !important;
  white-space: nowrap !important;
}
