.live2d-container {
  position: fixed; /* 确保它是固定定位 */
  bottom: 0; /* 调整底部位置 */
  z-index: 9999; /* 确保在最上层 */
}

/* 设置博客主页的背景图片 */
.blog-home {
  background-image: url(/assets/images/bj.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
